body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 84.2vh;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #ffcccc 50%, #ccccff 50%);
    transform: translateY(-20px); /* 向上平移所有元素，根据需要调整此值 */
}



.team-section {
    width: 50%;
    height: 100vh; /* 使每个队伍区域高度填满视窗 */
    display: flex;
    flex-direction: column; /* 列方向排布子元素 */
    justify-content: center; /* 子元素垂直居中 */
    align-items: center; /* 子元素水平居中 */
}

.team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#leftSection {
    background-color: white;
}

#rightSection {
    background-color: white;
}

/* 队伍标题样式 */
.team h2 {
    font-size: 100px; /* 标题大小 */
    margin-bottom: 20px; /* 标题与得分板之间的距离 */
    color: #000; /* 默认颜色，下面会分别设置 */
}


/* 红队样式调整 */
#leftSection .team h2 {
    color: red; /* 红队标题颜色 */
    /* 如果需要调整红队标题的具体位置或大小，请在这里添加 */
}

/* 蓝队样式调整 */
#rightSection .team h2 {
    color: blue; /* 蓝队标题颜色 */
    /* 如果需要调整蓝队标题的具体位置或大小，请在这里添加 */
}


.score {
    font-size: 180px;
    margin: 20px 0;
}

.buttons .row {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.button, .reset {
    margin: 5px;
    padding: 10px 0;
    width: 120px;
    font-size: 32px;
    cursor: pointer;
    border-radius: 15px;
    border: none;
    color: white;
    transition: background-color 0.3s ease;
}

#redTeam .button {
    background-color: red;
}

#blueTeam .button {
    background-color: blue;
}

.reset {
    background-color: #FED400;
    position: absolute;
    bottom: 20px;
    left: 45%;
}

.gradient-strip {
    position: absolute;
    left: 50%;
    top: 0;
    width: 20%; /* 渐变条带的宽度，可以根据需要调整 */
    height: 100vh;
    background: linear-gradient(to right, white, white);
    transform: translateX(-50%); /* 确保条带精确居中 */
}
